*{
	margin: 0;
	padding: 0;
	
}
.container
{
	background-color: grey;
}
.text-center{
	color: black;
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}
.navbar{

	border: none;
	background-color: black;
	color: #61122F;
	}
	body{
		color: white;
	}
	.theme{
		font-size: 30px;
		color:#61122F; 
	}
	
	.center{
		width: 90%;
		background-color: grey;
	
	}
	